# EmailJS Configuration
# Sign up for free at https://www.emailjs.com/
# 1. Create an Email Service (e.g. Gmail) -> get Service ID
# 2. Create an Email Template -> get Template ID
#    Make sure your template variables are: {{user_name}}, {{user_email}}, {{subject}}, {{message}}
# 3. Go to Account -> API Keys -> get Public Key

VITE_EMAILJS_SERVICE_ID=service
VITE_EMAILJS_TEMPLATE_ID=template(formemail.js)
VITE_EMAILJS_PUBLIC_KEY=get_public_key_from_emailjs.com
